In [91]:
# Batdongsan.com.vn — Data Preprocessing

Input: "data/raw/batdongsan_com_vn.csv"
Output: "data/preprocessed/batdongsan_com_vn_clean.csv"

In [92]:
import re
import os
import numpy as np
import pandas as pd

In [ ]:
RAW_PATH = "data/raw/batdongsan_com_vn.csv"
OUT_PATH = "data/preprocessed/batdongsan_com_vn_clean.csv"

df = pd.read_csv(RAW_PATH, encoding="utf-8")
print(df.shape)
df.head()

(8414, 20)

,property_type,price,area,n_bedrooms,n_bathrooms,n_floors,legal,interior,facing_direction,balcony_direction,front_width,front_road_width,title,latitude,longitude,verified,location,location_details,date_of_posting,url
0,Căn hộ chung cư,"7,7 tỷ",75 m²,2 phòng,NaN,NaN,Sổ đỏ/ Sổ hồng,Đầy đủ,Bắc,Nam,NaN,NaN,Bán căn hộ 2PN tháp T5 dự án Masteri Thảo Điền...,10.802441,106.741950,1.0,"Quận 2, Hồ Chí Minh","Dự án Masteri Thảo Điền, Đường Xa Lộ Hà Nội, P...",16/12/2025,https://batdongsan.com.vn/ban-can-ho-chung-cu-...
1,Nhà riêng,"15,8 tỷ",72 m²,6 phòng,6 phòng,6 tầng,Sổ đỏ/ Sổ hồng,Đầy đủ,NaN,NaN,"6,1 m",5 m,"Bán nhà 6 tầng, thang máy gara 3 ô tô 72m² ngõ...",21.038832,105.934539,1.0,"Long Biên, Hà Nội","Phúc Lợi, Phúc Lợi, Long Biên, Hà Nội",13/12/2025,https://batdongsan.com.vn/ban-nha-rieng-duong-...
2,Nhà riêng,"7,5 tỷ","102,3 m²",2 phòng,1 phòng,2 tầng,Sổ đỏ/ Sổ hồng,Đầy đủ,Đông - Nam,NaN,5 m,8 m,Bán nhà view trực diện Delight Park Đà Lạt khô...,11.973893,108.484595,1.0,"Đà Lạt, Lâm Đồng","Phường 12, Đà Lạt, Lâm Đồng",14/12/2025,https://batdongsan.com.vn/ban-nha-rieng-phuong...
3,Nhà riêng,"6,6 tỷ","60,9 m²",2 phòng,2 phòng,1 tầng,Sổ đỏ/ Sổ hồng,Cơ bản,NaN,NaN,"4,35 m",6 m,Nhà chính chủ Phạm Văn Chiêu- Hẻm 6m thông Lê ...,10.849654,106.651222,1.0,"Gò Vấp, Hồ Chí Minh","Đường Phạm Văn Chiêu, Phường 9, Gò Vấp, Hồ Chí...",13/12/2025,https://batdongsan.com.vn/ban-nha-rieng-duong-...
4,Nhà riêng,59 tỷ,148 m²,41 phòng,41 phòng,10 tầng,Sổ đỏ/ Sổ hồng,Đầy đủ,NaN,NaN,"6,5 m",5 m,Siêu phẩm Đồng Me tòa 10 tầng 41 phòng full dò...,21.011918,105.776275,1.0,"Nam Từ Liêm, Hà Nội","Đường Đồng Me, Phường Mễ Trì, Nam Từ Liêm, Hà Nội",12/12/2025,https://batdongsan.com.vn/ban-nha-rieng-duong-...

In [94]:
df.info()
df.isna().mean().sort_values(ascending=False).head(15)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8414 entries, 0 to 8413
Data columns (total 20 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   property_type      8414 non-null   object
 1   price              8390 non-null   object
 2   area               8390 non-null   object
 3   n_bedrooms         6393 non-null   object
 4   n_bathrooms        6072 non-null   object
 5   n_floors           5210 non-null   object
 6   legal              7590 non-null   object
 7   interior           5175 non-null   object
 8   facing_direction   3123 non-null   object
 9   balcony_direction  2450 non-null   object
 10  front_width        4353 non-null   object
 11  front_road_width   3906 non-null   object
 12  title              8389 non-null   object
 13  latitude           8389 non-null   float64
 14  longitude          8389 non-null   float64
 15  verified           8414 non-null   float64
 16  location           8413 non-null   object
 17  location_details   8389 non-null   object
 18  date_of_posting    8389 non-null   object
 19  url                8414 non-null   object
dtypes: float64(3), object(17)
memory usage: 1.3+ MB

balcony_direction    0.708819
facing_direction     0.628833
front_road_width     0.535774
front_width          0.482648
interior             0.384954
n_floors             0.380794
n_bathrooms          0.278346
n_bedrooms           0.240195
legal                0.097932
location_details     0.002971
title                0.002971
latitude             0.002971
longitude            0.002971
date_of_posting      0.002971
price                0.002852
dtype: float64

In [95]:
# drop cols
cols_to_drop = [
    "balcony_direction",
    "front_road_width",
    "title",
    "verified",
    "date_of_posting",
    "url",
]
df = df.drop(columns=[c for c in cols_to_drop if c in df.columns])
print(df.shape)
df.head(3)

(8414, 14)

,property_type,price,area,n_bedrooms,n_bathrooms,n_floors,legal,interior,facing_direction,front_width,latitude,longitude,location,location_details
0,Căn hộ chung cư,"7,7 tỷ",75 m²,2 phòng,NaN,NaN,Sổ đỏ/ Sổ hồng,Đầy đủ,Bắc,NaN,10.802441,106.741950,"Quận 2, Hồ Chí Minh","Dự án Masteri Thảo Điền, Đường Xa Lộ Hà Nội, P..."
1,Nhà riêng,"15,8 tỷ",72 m²,6 phòng,6 phòng,6 tầng,Sổ đỏ/ Sổ hồng,Đầy đủ,NaN,"6,1 m",21.038832,105.934539,"Long Biên, Hà Nội","Phúc Lợi, Phúc Lợi, Long Biên, Hà Nội"
2,Nhà riêng,"7,5 tỷ","102,3 m²",2 phòng,1 phòng,2 tầng,Sổ đỏ/ Sổ hồng,Đầy đủ,Đông - Nam,5 m,11.973893,108.484595,"Đà Lạt, Lâm Đồng","Phường 12, Đà Lạt, Lâm Đồng"

In [96]:
# rename col


rename_map = {
    "location_details": "address",
    "front_width": "front_road_width"
}
df = df.rename(columns={k: v for k, v in rename_map.items() if k in df.columns})
df.columns

Index(['property_type', 'price', 'area', 'n_bedrooms', 'n_bathrooms',
       'n_floors', 'legal', 'interior', 'facing_direction', 'front_road_width',
       'latitude', 'longitude', 'location', 'address'],
      dtype='object')

In [97]:
# split location

def split_location(loc: str):
    if pd.isna(loc):
        return pd.Series([np.nan, np.nan])
    parts = [x.strip() for x in str(loc).split(",")]
    if len(parts) >= 2:
        district = parts[0]
        city_province = parts[1]
        return pd.Series([district, city_province])
    return pd.Series([np.nan, np.nan])

df[["district", "city_province"]] = df["location"].apply(split_location)
df = df.drop(columns=["location"])
df[["district", "city_province"]].head(10)

      district city_province
0       Quận 2   Hồ Chí Minh
1    Long Biên        Hà Nội
2       Đà Lạt      Lâm Đồng
3       Gò Vấp   Hồ Chí Minh
4  Nam Từ Liêm        Hà Nội
5   Bình Thạnh   Hồ Chí Minh
6      Ba Đình        Hà Nội
7     Biên Hòa      Đồng Nai
8       Quận 7   Hồ Chí Minh
9    Long Biên        Hà Nội

In [98]:
def to_float_vn(x):
    """
    Convert Vietnamese number string with comma decimal to float.
    Examples: '7,7' -> 7.7 ; '4,35' -> 4.35
    """
    if pd.isna(x):
        return np.nan
    s = str(x).strip().lower()
    s = s.replace(",", ".")
    try:
        return float(s)
    except:
        return np.nan

def extract_int(x):
    """
    Extract first integer from a string.
    Examples: '2 phòng' -> 2 ; '6 tầng' -> 6
    """
    if pd.isna(x):
        return np.nan
    m = re.search(r"\d+", str(x))
    return float(m.group()) if m else np.nan  # float for NaN compatibility

In [99]:
def clean_area_m2(x):
    if pd.isna(x):
        return np.nan
    s = str(x).lower().strip()
    s = s.replace("m²", "").replace("m2", "").replace(" ", "")
    s = s.replace(",", ".")
    s = re.sub(r"[^0-9.]", "", s)
    try:
        return float(s)
    except:
        return np.nan

df["area"] = df["area"].apply(clean_area_m2)
df["area"].describe()

count    8379.000000
mean      113.989918
std        95.150479
min         1.000000
25%        60.000000
50%        83.800000
75%       128.000000
max       991.000000
Name: area, dtype: float64

In [100]:
for col in ["n_bedrooms", "n_bathrooms", "n_floors"]:
    if col in df.columns:
        df[col] = df[col].apply(extract_int)

df[["n_bedrooms", "n_bathrooms", "n_floors"]].head(10)

   n_bedrooms  n_bathrooms  n_floors
0         2.0          NaN       NaN
1         6.0          6.0       6.0
2         2.0          1.0       2.0
3         2.0          2.0       1.0
4        41.0         41.0      10.0
5         2.0          2.0       2.0
6         4.0          4.0       4.0
7         3.0          3.0       3.0
8         4.0          4.0       4.0
9         2.0          3.0       4.0

In [101]:
def clean_width_m(x):
    if pd.isna(x):
        return np.nan
    s = str(x).lower().strip()
    s = s.replace("m", "").replace(" ", "")
    s = s.replace(",", ".")
    s = re.sub(r"[^0-9.]", "", s)
    try:
        return float(s)
    except:
        return np.nan

if "front_road_width" in df.columns:
    df["front_road_width"] = df["front_road_width"].apply(clean_width_m)

df["front_road_width"].describe()

count    4353.000000
mean        7.103453
std         5.928738
min         2.000000
25%         4.200000
50%         5.000000
75%         8.000000
max       149.000000
Name: front_road_width, dtype: float64

In [102]:

# --- normalize categorical text (with villa fix) ---
def normalize_cat(x):
    if pd.isna(x):
        return np.nan

    s = str(x).strip().lower()

    # remove quotes if any
    s = s.strip('"').strip("'")

    # normalize separators/spaces
    s = s.replace("/", "_").replace("-", "_")
    s = re.sub(r"\s+", "_", s)
    s = re.sub(r"_+", "_", s)

    # remove trailing punctuation
    s = s.strip("., ")

    # FIX: map any villa/townhouse variants -> "biệt_thự"
    if ("biệt_thự" in s) or ("liền_kề" in s) or ("lien_ke" in s) or ("villa" in s) or ("townhouse" in s):
        return "biệt_thự"

    return s

cat_cols = ["property_type", "legal", "interior", "facing_direction", "district", "city_province"]
for c in cat_cols:
    if c in df.columns:
        df[c] = df[c].apply(normalize_cat)

df[cat_cols].head(5)

,property_type,legal,interior,facing_direction,district,city_province
0,căn_hộ_chung_cư,sổ_đỏ_sổ_hồng,đầy_đủ,bắc,quận_2,hồ_chí_minh
1,nhà_riêng,sổ_đỏ_sổ_hồng,đầy_đủ,NaN,long_biên,hà_nội
2,nhà_riêng,sổ_đỏ_sổ_hồng,đầy_đủ,đông_nam,đà_lạt,lâm_đồng
3,nhà_riêng,sổ_đỏ_sổ_hồng,cơ_bản,NaN,gò_vấp,hồ_chí_minh
4,nhà_riêng,sổ_đỏ_sổ_hồng,đầy_đủ,NaN,nam_từ_liêm,hà_nội

In [103]:
# -------------------------------
# Clean & standardize price (billion VND)
# Handles:
# - "x tỷ"
# - "y triệu/m²"
# - invalid cases -> NaN
# -------------------------------

def clean_price_billion(row):
    price_raw = row["price"]
    area = row["area"]

    if pd.isna(price_raw):
        return np.nan

    s = str(price_raw).lower().strip()

    # remove spaces
    s = s.replace(" ", "")

    # -------- Case 1: x tỷ --------
    if "tỷ" in s or "ty" in s:
        s = s.replace("tỷ", "").replace("ty", "")
        s = s.replace(",", ".")
        s = re.sub(r"[^0-9.]", "", s)
        try:
            return float(s)
        except:
            return np.nan

    # -------- Case 2: y triệu / m2 --------
    if "triệu/m" in s or "tr/m" in s or "tr/m2" in s or "triệu/m2" in s:
        if pd.isna(area):
            return np.nan

        s = s.replace("triệu/m²", "").replace("triệu/m2", "")
        s = s.replace("tr/m²", "").replace("tr/m2", "")
        s = s.replace(",", ".")
        s = re.sub(r"[^0-9.]", "", s)

        try:
            price_per_m2_million = float(s)
            total_price_billion = (price_per_m2_million * area) / 1000
            return round(total_price_billion, 3)
        except:
            return np.nan

    # -------- Other cases --------
    return np.nan


df["price"] = df.apply(clean_price_billion, axis=1)

df["price"].describe()

count    7859.000000
mean       23.020445
std        44.257148
min         1.000000
25%         6.200000
50%        11.000000
75%        22.900000
max       850.000000
Name: price, dtype: float64

In [104]:
# Inspect listings priced per m²
mask_price_per_m2 = df["price"].isna() & df["area"].notna()

df.loc[mask_price_per_m2, ["price", "area"]].head(10)

      price   area
1892    NaN   90.0
1972    NaN   75.0
1974    NaN   75.0
1977    NaN  150.0
1978    NaN   75.0
2058    NaN   75.0
2123    NaN  160.0
2125    NaN   75.0
2135    NaN  200.0
2138    NaN  152.0

In [105]:
def normalize_interior(x):
    if pd.isna(x):
        return "unknown"

    s = str(x).lower().strip("., ")

    if ("đầy" in s) or ("full" in s) or ("hoàn_thiện" in s):
        return "full"
    if "cơ_bản" in s:
        return "basic"
    if "không" in s:
        return "none"
    return "other"

df["interior"] = df["interior"].apply(normalize_interior)

df["interior"].value_counts()

interior
unknown    3239
full       3114
basic      1308
none        533
other       220
Name: count, dtype: int64

In [106]:
def normalize_legal(x):
    if pd.isna(x):
        return "unknown"

    s = str(x).lower().strip("., ")

    if ("sổ" in s) or ("hồng" in s) or ("đỏ" in s):
        return "ownership"
    if ("hđmb" in s) or ("hợp_đồng" in s) or ("mua_bán" in s):
        return "sale_contract"
    return "other"

df["legal"] = df["legal"].apply(normalize_legal)

df["legal"].value_counts()

legal
ownership        6716
unknown           824
sale_contract     810
other              64
Name: count, dtype: int64

In [107]:
# Fill n_floors median by property_type (safe-ish for houses; apartments often missing)
if "n_floors" in df.columns and "property_type" in df.columns:
    df["n_floors"] = df.groupby("property_type")["n_floors"].transform(
        lambda x: x.fillna(x.median())
    )

# Keep front_width NaN (avoid bias)
df.isna().mean().sort_values(ascending=False).head(15)

facing_direction    0.628833
front_road_width    0.482648
n_bathrooms         0.278346
n_bedrooms          0.240195
price               0.065961
area                0.004160
latitude            0.002971
longitude           0.002971
address             0.002971
district            0.000119
city_province       0.000119
property_type       0.000000
n_floors            0.000000
legal               0.000000
interior            0.000000
dtype: float64

In [108]:
# numeric
num_cols = ["price", "area", "n_bedrooms", "n_bathrooms", "n_floors", "front_width", "latitude", "longitude"]
for c in num_cols:
    if c in df.columns:
        df[c] = pd.to_numeric(df[c], errors="coerce")

# integer-like columns (nullable Int64)
for c in ["n_bedrooms", "n_bathrooms", "n_floors"]:
    if c in df.columns:
        df[c] = df[c].round().astype("Int64")

df.dtypes

property_type        object
price               float64
area                float64
n_bedrooms            Int64
n_bathrooms           Int64
n_floors              Int64
legal                object
interior             object
facing_direction     object
front_road_width    float64
latitude            float64
longitude           float64
address              object
district             object
city_province        object
dtype: object

In [109]:
DO_LABEL_ENCODING = False  # change to True if you want encoded version

if DO_LABEL_ENCODING:
    from sklearn.preprocessing import LabelEncoder

    df_enc = df.copy()
    cat_cols_ml = ["property_type", "legal", "interior", "facing_direction", "district", "city_province"]
    encoders = {}

    for c in cat_cols_ml:
        if c in df_enc.columns:
            le = LabelEncoder()
            df_enc[c] = df_enc[c].astype(str).fillna("nan")
            df_enc[c] = le.fit_transform(df_enc[c])
            encoders[c] = le

    df_enc.head()

In [110]:
# -------------------------------
# Remove old processed file (if exists)
# -------------------------------

import os

if os.path.exists(OUT_PATH):
    os.remove(OUT_PATH)
    print(f"Removed old file: {OUT_PATH}")
else:
    print("No existing file to remove.")

Removed old file: data/processed/batdongsan_com_vn_clean.csv

In [111]:
# -------------------------------
# Save cleaned dataset (overwrite)
# -------------------------------

os.makedirs(os.path.dirname(OUT_PATH), exist_ok=True)

df.to_csv(OUT_PATH, index=False, encoding="utf-8")
print("Saved new clean file:", OUT_PATH)
print("Final shape:", df.shape)

Saved new clean file: data/processed/batdongsan_com_vn_clean.csv
Final shape: (8414, 15)

In [112]:
df.sample(5)
df.describe(include="all").T.head(20)

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
property_type,8414,4,nhà_riêng,2189,NaN,NaN,NaN,NaN,NaN,NaN,NaN
price,7859.0,NaN,NaN,NaN,23.020445,44.257148,1.0,6.2,11.0,22.9,850.0
area,8379.0,NaN,NaN,NaN,113.989918,95.150479,1.0,60.0,83.8,128.0,991.0
n_bedrooms,6393.0,<NA>,<NA>,<NA>,4.36321,5.146761,1.0,2.0,3.0,5.0,97.0
n_bathrooms,6072.0,<NA>,<NA>,<NA>,4.132246,5.020741,1.0,2.0,3.0,5.0,97.0
n_floors,8414.0,<NA>,<NA>,<NA>,3.640361,1.413614,1.0,3.0,3.0,4.0,21.0
legal,8414,4,ownership,6716,NaN,NaN,NaN,NaN,NaN,NaN,NaN
interior,8414,5,unknown,3239,NaN,NaN,NaN,NaN,NaN,NaN,NaN
facing_direction,3123,8,đông_nam,789,NaN,NaN,NaN,NaN,NaN,NaN,NaN
front_road_width,4353.0,NaN,NaN,NaN,7.103453,5.928738,2.0,4.2,5.0,8.0,149.0
latitude,8389.0,NaN,NaN,NaN,14.518398,4.778979,0.0,10.785719,10.849765,20.974672,22.332988
longitude,8389.0,NaN,NaN,NaN,106.551585,1.375732,0.0,105.873065,106.671569,106.731419,109.309708
address,8389,3699,"Dự án The Sapphire-Vinhomes Smart City, Phường...",45,NaN,NaN,NaN,NaN,NaN,NaN,NaN
district,8413,149,quận_2,375,NaN,NaN,NaN,NaN,NaN,NaN,NaN
city_province,8413,42,hồ_chí_minh,4257,NaN,NaN,NaN,NaN,NaN,NaN,NaN