In [3]:
import pandas as pd

In [7]:
df = pd.read_csv('../data/preprocessed/full.csv')
df_raw_count = df.isna().sum()

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13828 entries, 0 to 13827
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   address        13803 non-null  object
 1   area           13793 non-null  float64
 2   city_province  13827 non-null  object
 3   district       13827 non-null  object
 4   front_width    9045 non-null   float64
 5   interior       5175 non-null   object
 6   latitude       13520 non-null  float64
 7   legal          13004 non-null  object
 8   location       8413 non-null   object
 9   longitude      13520 non-null  float64
 10  n_bathrooms    11486 non-null  float64
 11  n_bedrooms     11807 non-null  float64
 12  n_floors       10624 non-null  float64
 13  price          13265 non-null  float64
 14  property_type  13828 non-null  object
 15  source         13828 non-null  object
dtypes: float64(8), object(8)
memory usage: 1.7+ MB

In [6]:
df.describe()

,Unnamed: 0,price,area,n_bedrooms,n_bathrooms,n_floors,front_width,front_road_width,latitude,longitude
count,18512.000000,17145.000000,18512.000000,14294.000000,13395.00000,10318.000000,10783.000000,5358.000000,13097.000000,13097.000000
mean,9255.500000,28.099122,179.700638,3.873024,3.54916,3.512406,8.032843,15.614352,15.350541,106.601508
std,5344.098427,91.246295,652.950210,4.866356,4.64189,2.032734,10.876122,12.357327,4.888419,1.272728
min,0.000000,0.100000,1.050000,1.000000,1.00000,1.000000,2.000000,1.000000,0.000000,0.000000
25%,4627.750000,3.500000,58.400000,2.000000,2.00000,2.000000,4.500000,6.000000,10.794929,105.852273
50%,9255.500000,7.750000,84.250000,3.000000,3.00000,3.000000,5.000000,12.000000,12.232546,106.671049
75%,13883.250000,18.500000,134.000000,4.000000,4.00000,4.000000,8.000000,20.000000,20.985753,106.762383
max,18511.000000,1980.000000,26247.000000,188.000000,200.00000,56.000000,800.000000,127.000000,22.340666,115.826587

In [7]:
df.head()

,Unnamed: 0,property_type,price,area,area_unit,n_bedrooms,n_bathrooms,n_floors,address,city_province,...,front_road_width,front_road_width_unit,latitude,longitude,title,description,interior,raw_front_width,raw_front_road_width,raw_n_floors
0,0,Nhà mặt tiền,48.00,65.0,m²,NaN,NaN,4.0,"Đường Nguyễn Trãi, Phường 7, Quận 5, TP.HCM",TP.HCM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,Nhà hẻm ngõ,8.20,105.0,m²,6.0,6.0,2.0,"1234, Đường Huỳnh Tấn phát, Phường Tân Phú, Qu...",TP.HCM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,Biệt thự,300.00,1100.0,m²,8.0,10.0,3.0,"105, Đường Trần Văn Kiểu, Phường 10, Quận 6, T...",TP.HCM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,Nhà mặt tiền,0.89,60.0,m²,3.0,3.0,NaN,"Đường Đoàn Nguyễn Tuấn, Xã Hưng Long, Huyện Bì...",TP.HCM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,Nhà mặt tiền,40.00,140.0,m²,8.0,8.0,3.0,"Đường 3 Tháng 2, Phường 14, Quận 10, TP.HCM",TP.HCM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
df['property_type'].unique()

array(['Nhà mặt tiền', 'Nhà hẻm ngõ', 'Biệt thự', 'Biệt thự, Villa',
       'Nhà hẻm, ngõ', 'Mặt tiền', 'Căn hộ chung cư',
       'Căn hộ chung cư mini', 'Nhà riêng', 'Nhà biệt thự, liền kề',
       'Nhà mặt phố', 'Shophouse, nhà phố thương mại', 'Condotel'],
      dtype=object)

In [9]:
df['city_province'].unique()

array(['TP.HCM', 'Hà Nội', 'Đà Nẵng', 'Hải Phòng', 'Cần Thơ', 'Đồng Nai',
       'Bình Dương', 'Long An', 'Lâm Đồng', 'Bà Rịa - Vũng Tàu',
       'Đắk Lắk', 'Tiền Giang', 'Bắc Ninh', 'Quảng Nam', 'Khánh Hòa',
       'Nghệ An', 'An Giang', 'Bạc Liêu', 'Bắc Giang', 'Bến Tre',
       'Bình Định', 'Bình Phước', 'Bình Thuận', 'Cà Mau', 'Đồng Tháp',
       'Gia Lai', 'Hậu Giang', 'Hưng Yên', 'Kiên Giang', 'Kon Tum',
       'Lào Cai', 'Nam Định', 'Ninh Thuận', 'Phú Thọ', 'Phú Yên',
       'Quảng Bình', 'Quảng Ngãi', 'Quảng Ninh', 'Sóc Trăng', 'Tây Ninh',
       'Thái Bình', 'Thái Nguyên', 'Thanh Hóa', 'Thừa Thiên Huế',
       'Trà Vinh', 'Vĩnh Long', 'Vĩnh Phúc', 'Yên Bái', 'Hồ Chí Minh',
       'Bà Rịa Vũng Tàu', 'Hải Dương', 'Hà Nam', 'Hòa Bình', 'Sơn La',
       'Hà Tĩnh'], dtype=object)

In [10]:
df['legal_docs'].unique()

array(['Sổ hồng', 'Sổ đỏ', 'Giấy tờ hợp lệ', 'Giấy tờ khác',
       'Hợp đồng mua bán', 'Đang chờ sổ', 'Ngõ 1', 'Sổ đỏ/ Sổ hồng',
       'Sổ hồng (sử dụng chung).', 'Sổ đỏ/ Sổ hồng.', 'HĐMB', 'Sổ đỏ.',
       'Có sổ.',
       'Pháp lý chuẩn toà nhà đã có đồng sở hữu, mua bán công chứng vi bằng chuyển nhượng.',
       'Vi bằng', 'Sổ hồng riêng.', 'Sổ đỏ chính chủ, sang tên nhanh gọn',
       nan, 'Sổ sạch', 'Pháp lý: Sổ hồng riêng, thổ cư 100%.',
       'Sổ hồng đã hoàn công năm 2025', 'Đã có sổ đỏ.', 'sổ hồng 50 năm',
       'Sổ đỏ/ Sổ hồng ( sử dụng chung)', 'Có sổ',
       'Sổ đỏ đồng sở hữu - mua bán vi bằng',
       'Sổ đỏ chung của cả toà nhà, mua bán sang tên vi bằng.',
       'Sổ đỏ chung cả toà, mua bán vi bằng nhanh gọn.', 'Sổ đỏ/sổ hồng',
       'Đang chờ sổ.', 'Sổ đỏ/ Sổ hồng', 'Sổ đỏ sẵn sàng giao dịch.',
       'Sổ riêng.', 'Sổ đỏ lâu dài', 'Hợp đồng mua bán.',
       'Sổ đỏ sang tên.', 'Sổ hồng riêng hoàn công', 'Sổ hồng 50 năm',
       'Sổ hồng đồng sở hữu', 'Mua bán vi bằng, đã có sổ chung',
       'Có sổ CĐT', 'Sổ đỏ/ Sổ hồng (sử dụng chung)', 'Sổ hồng.',
       'Sổ đỏ/ Sổ hồng chung', 'Sổ hồng riêng', 'Sẵn sổ.( sử dụng chung)',
       'Sổ hồng riêng, sang tên nhanh chóng.',
       'Có sổ đồng sở hữu cả toà. Mua bán ký vi bằng.',
       'Chứng minh mua bán',
       'Sổ đỏ chung cả tòa nhà, có phôi sổ riêng, mua bán công chứng vi bằng',
       'Sổ đỏ chính chủ, sẵn sàng giao dịch.', 'Sở hữu lâu dài',
       'Mua bán vi bằng.', 'Sổ hồng lâu dài.', 'Sổ đỏ lâu dài.',
       'Nhà đã có sổ đỏ.', 'Sổ đỏ đầy đủ', 'Có sổ( sử dụng chung).',
       'sổ đỏ sang tên', 'Sổ hồng chính chủ.',
       'Sổ đỏ chung cả tòa nhà mình cầm - mua bán vi bằng với chủ hộ.',
       'Sổ hồng hoàn công', 'HDMB', 'Sổ đỏ/ Sổ hồng đồng sở hữu',
       'Sổ đỏ/ Sổ hồng ( sử dụng chung)', 'Sổ đỏ chính chủ',
       'Đã có sổ.', 'Sổ đỏ/ sổ hồng.', 'Đã có sẵn sổ', 'HĐMB.',
       'Sổ đỏ sử dụng chung', 'Sổ ĐSH phôi riêng', 'sổ chung',
       'Có sổ đỏ.', 'Sổ đỏ/sổ hồng.', 'HDMB.',
       'Hợp đồng thuê nhà ở dài hạn', 'Hợp Đồng Mua Bán',
       'Pháp lý rõ ràng, cam kết vận hành dài hạn.', 'Sổ đỏ chính chủ.',
       'Sổ đỏ/ Sổ hồng sdc', 'Văn Bản Thoã Thuận', 'Sở hữu 70 năm',
       'Đã có sổ', 'Sổ hoàn công đầy đủ.',
       'Pháp lý: Sổ hồng riêng, quy hoạch ổn định, sang tên ngay.',
       'Sổ hồng/ sổ đỏ', 'Pháp lý đầy đủ.', 'Sổ hồng riêng từng căn.',
       'Có', 'Sổ đỏ/Sổ Hồng', 'Chính chủ rõ ràng', 'Sổ đỏ, đất ở lâu dài',
       'Pháp lý (đã có sổ đỏ từ lô).', 'Hợp đồng thuê 50 năm.',
       'Hợp đồng chuyển nhượng', 'Sổ hồng 1 đời chủ', 'Lâu dài',
       'Đã có giấy phép xây dựng, đang thi công hầm móng', 'VBTT',
       'Sổ đỏ vuông đẹp.', 'Đã có sổ hồng.', 'Đã có sổ đỏ',
       'Đã có sổ đỏ vĩnh viễn!', 'Pháp lý: Sổ hồng vĩnh viễn.', 'SĐ',
       'Hợp đồng mua bán (Sổ hồng sở hữu lâu dài.)', 'Sổ đẹp.',
       'Pháp lý: Sổ chính chủ.', 'Sổ hồng hoàn công chuẩn.', 'Số hồng',
       '100% đất ở đô thị', '+ Sổ đỏ chính chủ sẵn sàng giao dịch.',
       'Đã có hợp đồng mua bán', 'Hợp đồng mua bán Sổ đỏ lâu dài',
       'Sổ Hồng', 'Bìa đỏ', 'Đầy đủ', 'TMDV lâu dài',
       'Đã có giấy phép xây dựng khách sạn 7 tầng.', 'Sổ hồng trao tay.',
       'Sổ đỏ đẹp nở hậu.', 'Sổ hồng 2023', 'Sổ hồng vuông vức.',
       'Pháp lý đầy đủ, đảm bảo quyền lợi cho người sở hữu.',
       'Hợp đồng thuê.', 'Đã có thông báo ký HDMB.', 'Cộng hoà, 3',
       '+ Sổ đỏ nở hậu, giao dịch ngay.', 'Sổ hồng hoàn công đầy đủ',
       '- Sổ hồng riêng từng căn, sở hữu lâu dài.',
       'Sổ hồng riêng, chính chủ bán',
       'Đầy đủ phòng cháy chữa giáy, giấy tờ hợp lệ', 'Pháp lý rõ ràng',
       'Sổ đỏ chính chủ, pháp lý rõ ràng.', 'Hợp đồng', 'Sổ Hồng lâu dài',
       'Sổ đỏ pháp lý đầy đủ.', 'Sẵn sàng giao dịch.', 'Giấy tờ pháp lý',
       'Sổ hồng chính chủ', 'Sổ chung', 'Sổ chính chủ',
       'Sổ hồng + đã hoàn công + công viên trước nhà. đường nhựa 8m',
       'Sổ Riêng hoàn công đầy',
       'Sổ hồng vĩnh viễn, nhận nhà 6 tháng sau làm sổ hồng, 1 năm sau nhận sổ.',
       'HĐ HTĐT', 'Mua bán vi bằng',
       'Hợp đồng mua bán, chủ đầu tư đang hoàn thiện thủ tục cấp sổ hồng.',
       'Không pháp lý.', 'Sẵn sổ giao dịch.', 'SỔ ĐỎ',
       '- Có sổ hồng riêng cầm tay, pháp lý rõ ràng.',
       'Văn bản thoả thuận', 'Sổ đỏ vuông đẹp', 'Hợp đồng đặt cọc',
       'Sổ hồng cá nhân.', 'Sổ thổ cư full đứng tên mới',
       'Dự án pháp lý sổ hồng từng căn, sẵn slot ô tô dưới hầm.',
       'HĐ hợp tác', 'SHR', 'Sổ hồng cá nhân', 'Sổ đỏ sẵn sàng sang tên.',
       'Sổ hồng sẵn.', '- Đã có thông báo ký HDMB.',
       'Sổ đẹp như mơ, sẵn sàng giao dịch', 'Sổ chung vi bằng.',
       'Hợp đồng đặt cọc.',
       '- Pháp lý: Đầy đủ, ký HĐMB trực tiếp với chủ đầu tư ngay.',
       'Sổ hồng riêng hoàn công đầy đủ', 'Công chứng vi bằng',
       'Sổ hồng chung', 'Nguồn gốc đất sạch, mua bán vi bằng.',
       'Sô đỏ chính chủ', 'Vbtt',
       'Sổ đỏ chính chủ (đồng sở hữu) Có giấy phép xây dựng, hồ sơ PCCC đầy đủ',
       'Sổ đỏ/ sổ hồng', 'Sổ đỏ/Sổ hồng'], dtype=object)