In [83]:
# Batdongsan.com.vn — Data Preprocessing

Input: "data/raw/batdongsan_com_vn.csv"
Output: "data/preprocessed/batdongsan_com_vn_clean.csv"

In [84]:
import re
import os
import numpy as np
import pandas as pd

In [85]:
RAW_PATH = "../data/raw/batdongsan_com_vn.csv"
OUT_PATH = "../data/preprocessed/batdongsancomvn_preprocessed.csv"

df = pd.read_csv(RAW_PATH, encoding = "utf-8")
print(df.shape)
df.head()

(16831, 20)

,property_type,price,area,n_bedrooms,n_bathrooms,n_floors,legal,interior,facing_direction,balcony_direction,front_width,front_road_width,title,latitude,longitude,verified,location,location_details,date_of_posting,url
0,Căn hộ chung cư,"7,7 tỷ",75 m²,2 phòng,NaN,NaN,Sổ đỏ/ Sổ hồng,Đầy đủ,Bắc,Nam,NaN,NaN,Bán căn hộ 2PN tháp T5 dự án Masteri Thảo Điền...,10.8024409479185,106.741949677425,1,"Quận 2, Hồ Chí Minh","Dự án Masteri Thảo Điền, Đường Xa Lộ Hà Nội, P...",16/12/2025,https://batdongsan.com.vn/ban-can-ho-chung-cu-...
1,Nhà riêng,"15,8 tỷ",72 m²,6 phòng,6 phòng,6 tầng,Sổ đỏ/ Sổ hồng,Đầy đủ,NaN,NaN,"6,1 m",5 m,"Bán nhà 6 tầng, thang máy gara 3 ô tô 72m² ngõ...",21.0388321765065,105.934539129008,1,"Long Biên, Hà Nội","Phúc Lợi, Phúc Lợi, Long Biên, Hà Nội",13/12/2025,https://batdongsan.com.vn/ban-nha-rieng-duong-...
2,Nhà riêng,"7,5 tỷ","102,3 m²",2 phòng,1 phòng,2 tầng,Sổ đỏ/ Sổ hồng,Đầy đủ,Đông - Nam,NaN,5 m,8 m,Bán nhà view trực diện Delight Park Đà Lạt khô...,11.9738934221653,108.484595388158,1,"Đà Lạt, Lâm Đồng","Phường 12, Đà Lạt, Lâm Đồng",14/12/2025,https://batdongsan.com.vn/ban-nha-rieng-phuong...
3,Nhà riêng,"6,6 tỷ","60,9 m²",2 phòng,2 phòng,1 tầng,Sổ đỏ/ Sổ hồng,Cơ bản,NaN,NaN,"4,35 m",6 m,Nhà chính chủ Phạm Văn Chiêu- Hẻm 6m thông Lê ...,10.8496541233261,106.65122176577,1,"Gò Vấp, Hồ Chí Minh","Đường Phạm Văn Chiêu, Phường 9, Gò Vấp, Hồ Chí...",13/12/2025,https://batdongsan.com.vn/ban-nha-rieng-duong-...
4,Nhà riêng,59 tỷ,148 m²,41 phòng,41 phòng,10 tầng,Sổ đỏ/ Sổ hồng,Đầy đủ,NaN,NaN,"6,5 m",5 m,Siêu phẩm Đồng Me tòa 10 tầng 41 phòng full dò...,21.0119178408982,105.776274747928,1,"Nam Từ Liêm, Hà Nội","Đường Đồng Me, Phường Mễ Trì, Nam Từ Liêm, Hà Nội",12/12/2025,https://batdongsan.com.vn/ban-nha-rieng-duong-...

In [86]:
df.info()
df.isna().mean().sort_values(ascending = False).head(15)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16831 entries, 0 to 16830
Data columns (total 20 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   property_type      16831 non-null  object
 1   price              16781 non-null  object
 2   area               16781 non-null  object
 3   n_bedrooms         12787 non-null  object
 4   n_bathrooms        12145 non-null  object
 5   n_floors           10421 non-null  object
 6   legal              15181 non-null  object
 7   interior           10351 non-null  object
 8   facing_direction   6247 non-null   object
 9   balcony_direction  4901 non-null   object
 10  front_width        8707 non-null   object
 11  front_road_width   7813 non-null   object
 12  title              16779 non-null  object
 13  latitude           16779 non-null  object
 14  longitude          16779 non-null  object
 15  verified           16829 non-null  object
 16  location           16827 non-null  object
 17  location_details   16779 non-null  object
 18  date_of_posting    16779 non-null  object
 19  url                16829 non-null  object
dtypes: object(20)
memory usage: 2.6+ MB

balcony_direction    0.708811
facing_direction     0.628840
front_road_width     0.535797
front_width          0.482681
interior             0.385004
n_floors             0.380845
n_bathrooms          0.278415
n_bedrooms           0.240271
legal                0.098033
location_details     0.003090
title                0.003090
latitude             0.003090
longitude            0.003090
date_of_posting      0.003090
price                0.002971
dtype: float64

In [87]:
# drop features
cols_to_drop = [
    "balcony_direction",
    "front_road_width",
    "title",
    "verified",
    "date_of_posting",
    "url", "facing_direction"
]
df = df.drop(columns = [c for c in cols_to_drop if c in df.columns])
print(df.shape)
df.head(3)

(16831, 13)

,property_type,price,area,n_bedrooms,n_bathrooms,n_floors,legal,interior,front_width,latitude,longitude,location,location_details
0,Căn hộ chung cư,"7,7 tỷ",75 m²,2 phòng,NaN,NaN,Sổ đỏ/ Sổ hồng,Đầy đủ,NaN,10.8024409479185,106.741949677425,"Quận 2, Hồ Chí Minh","Dự án Masteri Thảo Điền, Đường Xa Lộ Hà Nội, P..."
1,Nhà riêng,"15,8 tỷ",72 m²,6 phòng,6 phòng,6 tầng,Sổ đỏ/ Sổ hồng,Đầy đủ,"6,1 m",21.0388321765065,105.934539129008,"Long Biên, Hà Nội","Phúc Lợi, Phúc Lợi, Long Biên, Hà Nội"
2,Nhà riêng,"7,5 tỷ","102,3 m²",2 phòng,1 phòng,2 tầng,Sổ đỏ/ Sổ hồng,Đầy đủ,5 m,11.9738934221653,108.484595388158,"Đà Lạt, Lâm Đồng","Phường 12, Đà Lạt, Lâm Đồng"

In [88]:
# rename features


rename_map = {
    "location_details": "address",
    "front_width": "front_road_width"
}
df = df.rename(columns = {k: v for k, v in rename_map.items() if k in df.columns})
df.columns

Index(['property_type', 'price', 'area', 'n_bedrooms', 'n_bathrooms',
       'n_floors', 'legal', 'interior', 'front_road_width', 'latitude',
       'longitude', 'location', 'address'],
      dtype='object')

In [89]:
# split location

def split_location(loc: str):
    if pd.isna(loc):
        return pd.Series([np.nan, np.nan])
    parts = [x.strip() for x in str(loc).split(",")]
    if len(parts) >= 2:
        district = parts[0]
        city_province = parts[1]
        return pd.Series([district, city_province])
    return pd.Series([np.nan, np.nan])

df[["district", "city_province"]] = df["location"].apply(split_location)
df = df.drop(columns = ["location"])
df[["district", "city_province"]].head(5)

      district city_province
0       Quận 2   Hồ Chí Minh
1    Long Biên        Hà Nội
2       Đà Lạt      Lâm Đồng
3       Gò Vấp   Hồ Chí Minh
4  Nam Từ Liêm        Hà Nội

In [90]:
def to_float_vn(x):
    """
    Convert Vietnamese number string with comma decimal to float.
    Examples: '7,7' -> 7.7 ; '4,35' -> 4.35
    """
    if pd.isna(x):
        return np.nan
    s = str(x).strip().lower()
    s = s.replace(",", ".")
    try:
        return float(s)
    except:
        return np.nan

def extract_int(x):
    """
    Extract first integer from a string.
    Examples: '2 phòng' -> 2 ; '6 tầng' -> 6
    """
    if pd.isna(x):
        return np.nan
    m = re.search(r"\d+", str(x))
    return float(m.group()) if m else np.nan  # float for NaN compatibility

In [91]:
def clean_area_m2(x):
    if pd.isna(x):
        return np.nan
    s = str(x).lower().strip()
    s = s.replace("m²", "").replace("m2", "").replace(" ", "")
    s = s.replace(",", ".")
    s = re.sub(r"[^0-9.]", "", s)
    try:
        return float(s)
    except:
        return np.nan

df["area"] = df["area"].apply(clean_area_m2)
df["area"].head(5)

0     75.0
1     72.0
2    102.3
3     60.9
4    148.0
Name: area, dtype: float64

In [92]:
for col in ["n_bedrooms", "n_bathrooms", "n_floors"]:
    if col in df.columns:
        df[col] = df[col].apply(extract_int)

df[["n_bedrooms", "n_bathrooms", "n_floors"]].head(5)

   n_bedrooms  n_bathrooms  n_floors
0         2.0          NaN       NaN
1         6.0          6.0       6.0
2         2.0          1.0       2.0
3         2.0          2.0       1.0
4        41.0         41.0      10.0

In [93]:
def clean_width_m(x):
    if pd.isna(x):
        return np.nan
    s = str(x).lower().strip()
    s = s.replace("m", "").replace(" ", "")
    s = s.replace(",", ".")
    s = re.sub(r"[^0-9.]", "", s)
    try:
        return float(s)
    except:
        return np.nan

if "front_road_width" in df.columns:
    df["front_road_width"] = df["front_road_width"].apply(clean_width_m)

df["front_road_width"].head(5)

0     NaN
1    6.10
2    5.00
3    4.35
4    6.50
Name: front_road_width, dtype: float64

In [94]:
# -------------------------------
# Clean & standardize price (billion VND)
# Handles:
# - "x tỷ"
# - "y triệu/m²"
# - invalid cases -> NaN
# -------------------------------

def clean_price_billion(row):
    price_raw = row["price"]
    area = row["area"]

    if pd.isna(price_raw):
        return np.nan

    s = str(price_raw).lower().strip()

    # remove spaces
    s = s.replace(" ", "")

    # -------- Case 1: x tỷ --------
    if "tỷ" in s or "ty" in s:
        s = s.replace("tỷ", "").replace("ty", "")
        s = s.replace(",", ".")
        s = re.sub(r"[^0-9.]", "", s)
        try:
            return float(s)
        except:
            return np.nan

    # -------- Case 2: y triệu / m2 --------
    if "triệu/m" in s or "tr/m" in s or "tr/m2" in s or "triệu/m2" in s:
        if pd.isna(area):
            return np.nan

        s = s.replace("triệu/m²", "").replace("triệu/m2", "")
        s = s.replace("tr/m²", "").replace("tr/m2", "")
        s = s.replace(",", ".")
        s = re.sub(r"[^0-9.]", "", s)

        try:
            price_per_m2_million = float(s)
            total_price_billion = (price_per_m2_million * area) / 1000
            return round(total_price_billion, 3)
        except:
            return np.nan

    # -------- Other cases --------
    return np.nan


df["price"] = df.apply(clean_price_billion, axis = 1)

df["price"].head(15)

0      7.70
1     15.80
2      7.50
3      6.60
4     59.00
5      5.20
6     11.80
7      4.90
8     10.50
9      7.89
10     6.50
11    17.90
12    10.40
13     3.50
14     8.60
Name: price, dtype: float64

In [95]:
# Inspect listings priced per m²
mask_price_per_m2 = df["price"].isna() & df["area"].notna()

df.loc[mask_price_per_m2, ["price", "area"]].head(10)

      price   area
1892    NaN   90.0
1972    NaN   75.0
1974    NaN   75.0
1977    NaN  150.0
1978    NaN   75.0
2058    NaN   75.0
2123    NaN  160.0
2125    NaN   75.0
2135    NaN  200.0
2138    NaN  152.0

In [96]:
# numeric
num_cols = ["price", "area", "n_bedrooms", "n_bathrooms", "n_floors", "front_width", "latitude", "longitude"]
for c in num_cols:
    if c in df.columns:
        df[c] = pd.to_numeric(df[c], errors = "coerce")

# integer-like columns (nullable Int64)
for c in ["n_bedrooms", "n_bathrooms", "n_floors"]:
    if c in df.columns:
        df[c] = df[c].round().astype("Int64")

df.dtypes

property_type        object
price               float64
area                float64
n_bedrooms            Int64
n_bathrooms           Int64
n_floors              Int64
legal                object
interior             object
front_road_width    float64
latitude            float64
longitude           float64
address              object
district             object
city_province        object
dtype: object

In [97]:
# -------------------------------
# Remove old processed file (if exists)
# -------------------------------

import os

if os.path.exists(OUT_PATH):
    os.remove(OUT_PATH)
    print(f"Removed old file: {OUT_PATH}")
else:
    print("No existing file to remove.")

Removed old file: ../data/preprocessed/batdongsancomvn_preprocessed.csv

In [98]:
# -------------------------------
# Save cleaned dataset (overwrite)
# -------------------------------

os.makedirs(os.path.dirname(OUT_PATH), exist_ok = True)

df.to_csv(OUT_PATH, index = False, encoding = "utf-8")
print("Saved new clean file:", OUT_PATH)
print("Final shape:", df.shape)

Saved new clean file: ../data/preprocessed/batdongsancomvn_preprocessed.csv
Final shape: (16831, 14)

In [99]:
df.sample(5)
df.describe(include = "all").T.head(20)

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
property_type,16831,7,Nhà riêng,4378,NaN,NaN,NaN,NaN,NaN,NaN,NaN
price,15718.0,NaN,NaN,NaN,23.020445,44.25574,1.0,6.2,11.0,22.9,850.0
area,16758.0,NaN,NaN,NaN,113.989918,95.147639,1.0,60.0,83.8,128.0,991.0
n_bedrooms,12786.0,<NA>,<NA>,<NA>,4.36321,5.14656,1.0,2.0,3.0,5.0,97.0
n_bathrooms,12144.0,<NA>,<NA>,<NA>,4.132246,5.020534,1.0,2.0,3.0,5.0,97.0
n_floors,10420.0,<NA>,<NA>,<NA>,3.833205,1.730363,1.0,3.0,4.0,5.0,21.0
legal,15181,127,Sổ đỏ/ Sổ hồng,10560,NaN,NaN,NaN,NaN,NaN,NaN,NaN
interior,10351,340,Đầy đủ,4744,NaN,NaN,NaN,NaN,NaN,NaN,NaN
front_road_width,8706.0,NaN,NaN,NaN,7.103453,5.928397,2.0,4.2,5.0,8.0,149.0
latitude,16778.0,NaN,NaN,NaN,14.518398,4.778837,0.0,10.785719,10.849765,20.974672,22.332988
longitude,16778.0,NaN,NaN,NaN,106.551585,1.375691,0.0,105.873065,106.671569,106.731419,109.309708
address,16779,3700,"Dự án The Sapphire-Vinhomes Smart City, Phường...",90,NaN,NaN,NaN,NaN,NaN,NaN,NaN
district,16826,149,Quận 2,750,NaN,NaN,NaN,NaN,NaN,NaN,NaN
city_province,16826,42,Hồ Chí Minh,8514,NaN,NaN,NaN,NaN,NaN,NaN,NaN